body{
        background-color: #659DBD;
}
h1 {
        font-size: 60px;
}
p {
        font-size: 30px;
}
.button{
        width: 150px;
        height: 30px;
        font-size: 15px;
        border-radius: 4px;
}
