.header {
        padding: 10px;
        text-align: center;
        background: #659DBD;
        color: white;
        font-size: 30px;
    }
.header1
{
    font-size: 40px;
    font-style: italic;
    color: darkred;
}
.bold
{
    font-style: italic;
    color: darkred;
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.scroll {
    width: 50%;
    height: 150px;
    overflow: auto;
    text-align: justify;
    padding: 20px;
}
.templates {
    padding: 10px;
    text-align: center;
    background: #659DBD;
    color: white;
    font-size: 30px;
}
.img{
    float: right;
    margin-left: 15px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
}
.description{
    margin-top: auto;
    font-size: 25px;
    background-image: url("/images/main-background.jpeg");
}
.category{
    font-size: 40px;
    text-align: center;
}