body {
 margin: auto;
 padding: auto;
 width: auto ;
}
.row:after {
  display: none;
  clear: none;
}
.column {
 float: none;
 width: 100%;
}
.leftcolumn {
 float: none;
 width: 100%;
}
.rightcolumn {
 float: none;
 width: 100%;
}