body{
    background-color: #659DBD;
}


div {
    background-color: #659DBD;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 4px;
}