<!DOCTYPE html>
<html>
<head>
<title>Modern Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="modern_style.css">
<link rel="stylesheet" href="mobile.css"  media="screen and (max-width:480px)" />
<link rel="stylesheet" href="tablet.css"  media="screen and (min-width:481px)
    and (max-width:768px)" />
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:769px)" />
</head>


<body>

<div class="header">
	<h2>Someone's Blog</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="box">
    	<h2>Title</h2>
    	<h4>Description</h4>
    	<div class="box description">Image</div>
    	<p>Text</p>
    	<p>Blah blah blah more text</p>
    </div>
    <div class="box">
    	<h2>Title</h2>
    	<h4>Description</h4>
    	<div class="box description">Image</div>
    	<p>Text</p>
    	<p>Blah blah blah more text</p>
    </div>
  </div>
  <div class="rightcolumn">
  	<div class="box">
    	<h2>About</h2>
    	<div class="box about">Image</div>
    	<p>Text</p>
    </div>
    <div class="box">
    	<h3>Comments</h3>
    	<textarea id="blog" name="blog" rows="4" cols="50">
		Write a comment
		</textarea>
		<p><button>Like</button><button>Dislike</button></p>
		<p><button>Post</button></p>
    </div>
    <div class="box contact">
    	<h3>Contact Info</h3>
    	<p>Insert here</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

	<hr>
	<p><button class="button">Save</button><button class="button">Save As</button></p>
	<p><a href="modern.home.html"><button class="button">Modern Home</button></a></p>

</body>
</html>