<!DOCTYPE html>
<html>
<head>
<title>Modern About</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="modern_style.css">
<script src = "modern_JS.js"></script>
<link rel="stylesheet" href="mobile.css"  media="screen and (max-width:480px)" />
<link rel="stylesheet" href="tablet.css"  media="screen and (min-width:481px)
    and (max-width:768px)" />
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:769px)" />
</head>

<body>
	<h1>About</h1>

	<p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)"></p>
	<p><img id="output" width="200" /></p>

	<h2>Background</h2>
	<p><textarea id="background" name="background" rows="4" cols="50">
Insert your information in the forms below!
	</textarea></p>

	<h2>Interests</h2>
	<p><textarea id="interests" name="interests" rows="4" cols="50">
Insert your information in the forms below!
	</textarea></p>

	<h2>Hobbies</h2>
	<p><textarea id="hobbies" name="hobbies" rows="4" cols="50">
Insert your information in the forms below!
	</textarea></p>
	<hr>

	<select id = "contentInfo" onchange = "contentInfo()" > 
		<option> --Content Info-- </option> 
		<option>Background</option>  
		<option>Interests</option>  
		<option>Hobbies</option>  
	</select>  
	
		<form>
		Information:
		<input type="text" name="userContent" id = "userContent">
		</form>
		<button class = "subbutton" onclick = "updateContent()">Submit</button>

	<hr>
	<p><a href="modern.home.html"><button class="button">Modern Home</button></a></p>
</body>
</html>