body {
    background-color: rgb(63, 63, 104);

}

h1 {
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    color:rgb(172, 206, 240);
    font-family: 'Times New Roman', Times, serif;
    }

h2 {
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    color:rgb(172, 206, 240);
    font-family: 'Times New Roman', Times, serif;
    }

h3 {
    text-align: center;
    color: rgb(172, 206, 240);
    font-family: 'Times New Roman', Times, serif;
    }


p {

    text-align: center;
    color: rgb(172, 206, 240);
    font-family: 'Times New Roman', Times, serif;
    
    
}

div {
    color: rgb(172, 206, 240);
    text-align: center;
}
textarea {
    background-color: rgb(63, 63, 104);
    color: white;
    outline-style: solid;
    outline-color: lightskyblue;
}