<!DOCTYPE html>
<html>
<head>
<title>Modern Resume</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="modern_style.css">           
<link rel="stylesheet" href="mobile.css"  media="screen and (max-width:480px)" />
<link rel="stylesheet" href="tablet.css"  media="screen and (min-width:481px)
    and (max-width:768px)" />
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:769px)" />
<script src = "modern_resume.js"></script>
</head>

<body>
	<h1 id = "resumeTitle">Resume</h1>

	<hr>

<div class = "row">
	<div class = "column">
	<h2 id = "expTitle">Experience</h2>
	<p><textarea id="exp" name="exp" rows="4" cols="50">
Insert your information in the forms below!

	</textarea></p>
	<hr>

	<h2 id = "acaTitle">Academics</h2>
	<p><textarea id="academic" name="academic" rows="4" cols="50">
Insert your information in the forms below!

	</textarea></p>
	<hr>

	<h2 id = "objTitle">Objective</h2>
	<p><textarea id="objective" name="objective" rows="4" cols="50">
Insert your information in the forms below!

	</textarea></p>
	<hr>
	</div>

	<div class = "column">
	<h2 id = "skillsTitle">Skills</h2>
	<p><textarea id="skills" name="skills" rows="4" cols="50">
Insert your information in the forms below!

	</textarea></p>
	<hr>

	<h2 id = "achTitle">Achievements</h2>
	<p><textarea id="achievements" name="achievements" rows="4" cols="50">
Insert your information in the forms below!

	</textarea></p>
	<hr>

	<h2 id = "involveTitle">Involvement</h2>
	<p><textarea id="involvement" name="involvement" rows="4" cols="50">
Insert your information in the forms below!

	</textarea></p>
	<hr>
	</div>
</div>
<h2 id = "userCustomTitle" class = "userCustomTitle">User Customization</h2>

<select id = "contentInfo" onchange = "contentInfo()" > 
	<option> --Content Info-- </option> 
	<option>Experience</option>  
	<option>Skills</option>  
	<option>Academics</option>  
	<option>Achievements</option> 
	<option>Objective</option> 
	<option>Involvement</option> 
</select>  

	<form id = "infoTitle">
	Information:
	<input type="text" name="userContent" id = "userContent">
	</form>
	<button class = "subbutton" onclick = "updateContent()">Submit</button>

	<br><br>
	<input type="color" id="colorInputBackground">
	<input type="button" id="colorButton" value="Change background color" 
	onclick="changeColor()">
	<br>
	<input type="color" id="colorInputSubBackground">
	<input type="button" id="colorButton" value="Change sub-background color" 
	onclick="changeSubBackgroundColor()">
	<br>
	<input type="color" id="colorInputText">
	<input type="button" id="colorButton" value="Change text color" 
	onclick="changeTextColor()">

	<hr>
	<p><a href="modern.home.html"><button class="button">Modern Home</button></a></p>

</body>
</html>
