<!DOCTYPE html>
<html>
<head>
	<style>
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
	</style>
</head>

<title>Modern Resume</title>
<body>
	<h1>Resume</h1>

	<hr>

<div class = "row">
	<div class = "column">
	<h2>Work Experience</h2>
	<p><textarea id="work_exp" name="work_exp" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>

	<h2>Academic Progress</h2>
	<p><textarea id="academic" name="academic" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>

	<h2>Objective</h2>
	<p><textarea id="objective" name="objective" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>
	</div>

	<div class = "column">
	<h2>Skills</h2>
	<p><textarea id="skills" name="skills" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>

	<h2>Achievements</h2>
	<p><textarea id="achievements" name="achievements" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>

	<h2>Involvement</h2>
	<p><textarea id="involvement" name="involvement" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>
	</div>
</div>

	<script>  
	function concactInfo() {  
	var mylist = document.getElementById("contactInfo");  
	document.getElementById("contactInfo").value = mylist.options[mylist.selectedIndex].text;  
	}  
	</script>  

	<select id = "contactInfo" onchange = "favTutorial()" > 
	<option> --Contact Info-- </option> 
	<option> Email </option>  
	<option> StackOverflow </option>  
	<option> GitHub </option>  
	<option> LinkedIn </option>  
	<option> Handshake </option>  
	</select>  

	<form>
	Information:
	<input type="text" name="username">
	</form>

	<p><button>Save</button>
	<button>Save As</button></p>

	<hr>
	<p><a href="modern.home.html"><button>Modern Home</button></a></p>

</body>
</html>