<!DOCTYPE html>
<html>
<head>
<title>Modern Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<h1>Modern Portfolio Template</h1>
	
	<a href="modern.about.html"><button>About</button></a>
	<a href="modern.resume.html"><button>Resume</button></a>
	<a href="modern.projects.html"><button>Projects</button></a>
	<a href="modern.blog.html"><button>Blog</button></a>

	<h3>Atilla's Portfolio</h3>
	<p>Welcome to my portfolio! Please navigate my website through the above links! Thank you :)</p>
	
	<p><a href="../../index.html"><button>Home Page</button></a></p>

</body>
</html>