<!DOCTYPE html>
<html>
<head>
<title>Modern Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="modern_style.css">
<link rel="stylesheet" href="mobile.css"  media="screen and (max-width:480px)" />
<link rel="stylesheet" href="tablet.css"  media="screen and (min-width:481px)
    and (max-width:768px)" />
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:769px)" />
</head>

<body>
	<h1>Modern Portfolio Template</h1>
	
	<center><a href="modern.about.html"><button class="button">About</button></a>
	<a href="modern.resume.html"><button class="button">Resume</button></a>
	<a href="modern.projects.html"><button class="button">Projects</button></a>
	<a href="modern.blog.html"><button class="button">Blog</button></a></center>

	<h3>Atilla's Portfolio</h3>
	<p>Welcome to my portfolio! Please navigate my website through the above links! Thank you :)</p>
	
	<p><a href="../../index.html"><button class="button">Home Page</button></a></p>

</body>
</html>