<!DOCTYPE html>
<html>
<head>
<title>Modern Projects</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="mobile.css"  media="screen and (max-width:480px)" />
<link rel="stylesheet" href="tablet.css"  media="screen and (min-width:481px)
    and (max-width:768px)" />
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:769px)" />
</head>

<body>
	<h1>Projects</h1>

	<p>Please insert your chosen file and description here! Once submitted the project will be displayed here with the cover image. (NOTE to grader: this will take affect once we introduce javascript)</p>
	<input type="file" id="resume" name="resume" accept=".pdf, .doc, .docx">


	<p><textarea id="project_desc" name="project_desc" rows="4" cols="50">
Your text here
	</textarea></p>

    <p><a href="modern.home.html"><button>Modern Home</button></a></p>
</body>
</html>