<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="minimalist_style.css">
</head>
<title>Minimalist Home</title>
<body>
	<h1>Minimalist Portfolio Template</h1>
	
	<a href="minimalist.about.html"><button>About</button></a>
	<a href="minimalist.resume.html"><button>Resume</button></a>
	<a href="minimalist.projects.html"><button>Projects</button></a>
	<a href="minimalist.blog.html"><button>Blog</button></a>

	<h3>Atilla's Portfolio</h3>
	<p>Welcome to my portfolio! Please navigate my website through the above links! Thank you :)</p>
	
	<p><a href="../../index.html"><button>Home Page</button></a></p>


</body>
</html>