<!DOCTYPE html>
<html>
<title>Minimalist About</title>
<body>
	<h1>About</h1>

	<p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
	<p><label for="file">Upload Image (Click Me!)</label></p>
	<p><img id="output" width="200" /></p>

	<script>
	var loadFile = function(event) {
		var image = document.getElementById('output');
		image.src = URL.createObjectURL(event.target.files[0]);
	};
	</script>

	<p><textarea id="about" name="about" rows="4" cols="50">
Your text here
	</textarea></p>

	<p><a href="minimalist.home.html"><button>Minimalist Home</button></a></p>

</body>
</html>