<!DOCTYPE html>
<html>
<head>
<title>Minimalist Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="minimalist_style.css">
<link rel="stylesheet" href="mobile.css"  media="screen and (max-width:480px)" />
<link rel="stylesheet" href="tablet.css"  media="screen and (min-width:481px)
    and (max-width:768px)" />
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:769px)" />
</head>
<body>
	<h2>Minimalist Portfolio Template</h2>
	<hr>
	<h1>Atilla The Duck</h1>
	<div class="row">
		<a href="https://www.linkedin.com/in/Andrewnar" target="_blank"><img src="../../images/linkedIn-Icon.png" alt="○" class="social" id="linkedin"></a>
		<a href="https://github.com/Andrewnar" target="_blank"><img src="../../images/github-icon.png" alt="○" class="social" id="github"></a>
		<a href="mailto:anarvaez@stevens.edu" target="_blank"><img src="../../images/email-icon.png" alt="○" class="social" id="github"></a>
	</div>

	<p><a href="../../index.html"><button>Home Page</button></a></p>


</body>
</html>