body {
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    color: rgb(204, 99, 99);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    }
h2 {
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    color: rgb(204, 99, 99);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    text-align: center;
    color: rgb(204, 99, 99);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    }


p {

    text-align: center;
    color: rgb(204, 99, 99);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}

div {
    color: rgb(204, 99, 99);
    text-align: center;
}
textarea {
    background-color: lemonchiffon;
    color: rgb(204, 99, 99);
    outline-style: solid;
    outline-color: lightsalmon;
}
* {
  box-sizing: border-box;
}

.header {
  padding: 30px;
  font-size: 35px;
  text-align: center;
  background: lemonchiffon;
  outline-style:solid;
  outline-color: lightsalmon;
}

.footer {
  padding: 20px;
  text-align: center;
  background: lemonchiffon;
  margin-top: 20px;
  outline-style:solid;
  outline-color: lightsalmon;
}

.background {
  background-color: lemonchiffon;
  width: 100%;
  padding: 20px;
}

.box {
   background-color: lemonchiffon;
   padding: 20px;
   margin-top: 20px;
   outline-style:solid;
   outline-color: lightsalmon;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

div.scroll {
    width: 50%;
    height: 20%;
    overflow: auto;
    text-align: justify;
    padding: 20px;
}
.description {
    height: 25%;
}
.about {
    height:  15%;
}
.contact {
    height: 35%;
}
.button{
    width: 200px;
    height: 50px;
    font-size: 20px;
}