<!DOCTYPE html>
<html>
<head>
<title>Classic Resume</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="classic_style.css">
<script src = "classic_JS.js"></script>
<link rel="stylesheet" href="mobile.css"  media="screen and (max-width:480px)" />
<link rel="stylesheet" href="tablet.css"  media="screen and (min-width:481px)
    and (max-width:768px)" />
<link rel="stylesheet" href="desktop.css" media="screen and (min-width:769px)" />
</head>

<body>
	<h1>Resume</h1>

	<hr>

	<p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)"></p>
	<p><img id="output" class = "output"/></p>

<div class = "row">
	<div class = "column">
	<h2>About Me</h2>
	<p><textarea id="about" name="about" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>

	<h2>Experience</h2>
	<p><textarea id="exp" name="exp" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>
	</div>

	<div class = "column">
	<h2>Academics</h2>
	<p><textarea id="academic" name="academic" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>

	<h2>Achievements</h2>
	<p><textarea id="achievements" name="achievements" rows="4" cols="50">
Write about you
	</textarea></p>
	<hr>
	</div>
</div>


	<script>  
	function concactInfo() {  
	var mylist = document.getElementById("contactInfo");  
	document.getElementById("contactInfo").value = mylist.options[mylist.selectedIndex].text;  
	}  
	</script>  

	<select id = "contactInfo" onchange = "favTutorial()" > 
	<option> --Contact Info-- </option> 
	<option> Email </option>  
	<option> StackOverflow </option>  
	<option> GitHub </option>  
	<option> LinkedIn </option>  
	<option> Handshake </option>  
	</select>  

	<form>
	Information:
	<input type="text" name="username">
	</form>

	<p><button class="button">Save</button>
	<button class="button">Save As</button></p>

	<hr>
	<p><a href="../../templates.html"><button class="button">Templates Page</button></a></p>
	<p><a href="../../index.html"><button class="button">Home Page</button></a></p>

</body>
</html>