<!DOCTYPE html>
<html>
<title>Classic Resume</title>
<body>
	<h1>Resume</h1>
	
	<p><textarea id="resume" name="resume" rows="4" cols="50">
Write about you
	</textarea></p>

	<h2>Work Experience</h2>
	<p><textarea id="work_exp" name="work_exp" rows="4" cols="50">
Write about you
	</textarea></p>

	<h2>Academic Progress</h2>
	<p><textarea id="academic" name="academic" rows="4" cols="50">
Write about you
	</textarea></p>

	<h2>Achievements</h2>
	<p><textarea id="achievements" name="achievements" rows="4" cols="50">
Write about you
	</textarea></p>

	<script>  
	function concactInfo() {  
	var mylist = document.getElementById("contactInfo");  
	document.getElementById("contactInfo").value = mylist.options[mylist.selectedIndex].text;  
	}  
	</script>  

	<select id = "contactInfo" onchange = "favTutorial()" > 
	<option> --Contact Info-- </option> 
	<option> Email </option>  
	<option> StackOverflow </option>  
	<option> GitHub </option>  
	<option> LinkedIn </option>  
	<option> Handshake </option>  
	</select>  

	<form>
	Information:
	<input type="text" name="username">
	</form>


	<p><a href="classic.home.html"><button>Classic Home</button></a></p>

</body>
</html>