<!DOCTYPE html>
<html>
<body>
	<h1>Resume</h1>
	
	<p><textarea id="resume" name="resume" rows="4" cols="50">
Write about you
	</textarea></p>

	<h2>Work Experience</h2>
	<p><textarea id="work_exp" name="work_exp" rows="4" cols="50">
Write about you
	</textarea></p>

	<h3>Academic Progress</h3>
	<p><textarea id="academic" name="academic" rows="4" cols="50">
Write about you
	</textarea></p>

	<h4>Achievements</h4>
	<p><textarea id="achievements" name="achievements" rows="4" cols="50">
Write about you
	</textarea></p>

	<select id = "contactInfo" onchange = "favTutorial()" > 
	<option> --Contact Info-- </option> 
	<option> Email </option>  
	<option> StackOverflow </option>  
	<option> GitHub </option>  
	<option> LinkedIn </option>  
	<option> Handshake </option>  
	</select>  

	<form>
	Information:
	<input type="text" name="username">
	</form>


	<p><a href="classic.home.html"><button>Classic Home</button></a></p>

</body>
</html>
